log_level        :error
log_location     '/var/vcap/sys/log/chef_client/chef.log'
chef_server_url  '<%= p("chef_server.url") %>'
validation_client_name 'eam-validator'
enable_selinux_file_permission_fixup false

! File.exist?('/var/chef/handlers') and `mkdir -p /var/chef/handlers`
! File.exist?('/var/chef/handlers/paashandler.rb') and `curl -k -s https://depot.corp.adobe.com:11001/paashandler.rb -o /var/chef/handlers/paashandler.rb`

require '/var/chef/handlers/paashandler.rb'
exception_handlers << PaaSHandler::GlobalHandler.new
